$grid-gutter-width: 10px;

@import  "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body{
}

img{
  max-width: 100%;
}

// .row{
//   img{
//     max-width: 100%
//   }
// }


.wrapper{
background-image: url("../skateboard-images/bg.jpg");
}
.wrapper::before{
}


.menu-button a> button{
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: #B1282D;
  text-decoration: none;
  margin-bottom: 40px;
  width: 100%;
  height: 55px;
}


.toplogo{
  position: relative;
  .logo{
    position: absolute;
    top: 120px;
    left: 65px;
    overflow: hidden;
    width: 35%;
  }
}


.topimage{
background-image: url('../skateboard-images/top-image.png');
height: 418px;
background-position: -95px -92px;
border: 10px solid white;
}

.overlay{
// .topimage::before{
  content: '';
  position: absolute;
  background-image: url("../skateboard-images/grid.png");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
}


.radio-inline{
  text-align: center;
}

.checkbox{
  text-align: center;
  margin: 27px;
}

.column{
background-color: white;
padding: 5px 8px 5px 8px;
margin-bottom: 20px;
  h1{

  }
}

.skate-news{
margin-top: 30px;
}

.read-more{
  font-weight: bold;
  color: #B1282D;
  h6{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }
}

.boards{
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.boards img{
  background-color: white;
  margin: 10px 23px;
}

.sk4{
  background-image: url('../skateboard-images/sk8er-4.png');
  background-position: -78px 1px;
  height: 233px;
  overflow: hidden;
  border: 4px solid white;
  background-repeat: no-repeat;
}

.sk3{
  background-image: url('../skateboard-images/sk8er-3.png');
  background-position: 1px 1px;
  height: 233px;
  border: 4px solid white;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sk1{
  background-repeat: no-repeat;
  background-image: url('../skateboard-images/sk8er-1.png');
  background-position: 1px -75px;
  height: 233px;
  overflow: hidden;
  border: 4px solid white;
  width: 100%;
  background-size: cover;
}
.sk2{
  background-image: url('../skateboard-images/sk8er-2.png');
  background-position: 415px 1px;
  height: 485px;
  border: 4px solid white;
  // background-repeat: no-repeat;
  overflow: hidden;
}

h3{position: absolute;
  top: 38%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 44px;
  font-weight: bolder;
  text-align: center;
  color: white;
  width: 100%;
}


.contact-us{
  background-color: white;
  height: 257px;
  margin-top: 19px;
}

.your-info{
  background-color: white;
  text-align: center;
  padding-top: 10px;
}
.form-group{
  width: 50%;
}
.form-control{
  width: 563px;
}
.form-control1{
  width: 563px;
  height: 101px;
}
.btn-default{
  width: 150px;
  color: white;
  background-color: #B1282D;
}

.smb{
font-size: 60px;
color: grey;
}
