
/*
 * Bootstrap vars
 */
$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$shade: rgba(200,200,200,0.5);

@mixin box-format(){
  // border: 5px solid white;
  margin-top: 1%;
  box-shadow: 0 5px 0 $shade;
}


/*
 * General layout
 */

img{
  max-width: 100%;
}



.wrapper{
  background-image: url('../images/bg-darkened.jpg');
  background-size: cover;

}

.social-media{
  color: white;
  text-transform: uppercase;
  margin-top: 1%;

  .btn{

    float: right;
    margin-left: 1%;
    @include box-format();
    color: $shade;

  }

  .fa-ellipsis-v{
    float: right;
    padding-top: 2.5%;
    margin-right: 1%;
    // margin-top: 2%;
  }

  span{
    float: right;
    padding-top: 2.25%;
    margin-right: 5%;
  }


}

.top-nav{
  text-transform: uppercase;
  margin-top: 1%;

  .top-nav-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  a {
    display: inline-block;
    background-color: #D22127;
    color: white;
    @include box-format();
    width: 100%;
  }

}

.logo{
  // for absolute children
  position: relative;
  height: 335px;
  background-image: url('../images/top-image.png');
  background-position: 5% 30%;
  border: 10px solid white;
  box-shadow: 0px 10px 10px white;
  @include box-format();
  overflow: hidden;

  .overlay{
    opacity: 0.3;
  }
  // ::after{
  //   content: '';
  //   // display: block;
  //   background-image: url('../images/grid.png');
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   opacity: 0.5;
  // }

  .logo-img{
    position: absolute;
    top: 15%;
    left: 5%;
    transform: scale(1.1);

  }
}

// .logo-img{
//
//
//   ::before{
//     content: '';
//     display: block;
//     background-image: url('../images/grid.png');
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     opacity: 0.5;
//   }
// }

.read-more{
  // background-color: green;
  // min-height: 500px;


  .btn{
    display: inline-block;
    background-color: white;
    @include box-format();

  }

  .scroll-buttons{
    // background-color: red;
    text-align: center;
    color: transparent;
    margin-top: 3%;

  }

  h3, h6, p{
    text-align: left;
    padding: 1% 5% 1% 5%;
  }

  h3{
    padding-top: 5%;

  }
  h6{
    font-size: 1em;
    color: #A5A5A5;
  }

  a{
    display: block;
    color: red;
    text-align: center;
    margin-top: 10%;
  }

  .read-more-story{
    @include box-format();
    margin-bottom: 1%;
    background-color: white;
    min-height: 350px;
  }

}

.skateboarders{
  // for absolute children
  position: relative;
  margin-top: 2%;

  .tag{
    position: absolute;
    left: -300px;
    top: 50px;
  }


  h2{
    font-size: 3em;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    // position: absolute;
    color: white;
    // top: 30%;
    // left: 12%;
  }

  .profile{
    @include box-format();
    margin-top: 2%;
    height: 250px;
    text-transform: uppercase;
    border: 5px solid white;

  }

  // @media (max-width: 989px){
  // font-size: 2em;
  // }



  // .half{
  //   height: 250px;
  // }

  a{
    color: white;

  }

}

.lance{
  background-image: url("../images/sk8er-4.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;


}

.rodney{
  background-image: url("../images/sk8er-3.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

}

.steve{
  background-image: url("../images/sk8er-1.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

}

.tommy{
  background-image: url("../images/sk8er-2.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;


}

#tommy-pic{
  @media (min-width: 989px){
    height: 515px;

  }

}

.board-designs{
  margin-top: 2%;
  margin-bottom: 3%;
}

.board-design{
  background-color: white;
  text-align: center;
  @include box-format();


  img{
    margin: 2%;
  }
}

.contact-us{
  @include box-format();
  background-color: white;
  padding: 5%;
  margin-bottom: 5%;

  .information{
    margin-right: 4%;
  }

  label{
    width: 100%;
  }

  .input-message{
    min-height: 100px;
  }

  .btn{
    float: right;
  }

  // background-color: gray;
}
.readmore a{
  position: absolute;
  bottom: 12px;
  left: 37%;
}





// ................................
